
            <div class="container-fluid">
                <h4 class="page-title">Tables</h4>
                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <h5> Log</h5>
                                </div>
                            </div>
                            <div class="card-body">

                                <table id="activityTable" class="display">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Timestamp</th>
                                            <th class="text-center">TTL</th>
                                            <th class="text-center" >Clicks Allowed</th>
                                            <th class="text-center">N0.of IP Allowed</th>
                                            <th class="text-center">Total Click Allowed</th>  
                                            <th class="text-center">Total Click Made</th>      </tr>
                                    </thead>
                                   
                                    <tbody>
                                        {{#each activityData}}
                                        <tr>
                                        <td class="text-center">{{this.timestamp}}</td>
                                        <td class="text-center">{{this.ttl}}</td>
                                        <td class="text-center">{{this.clicksAllowed}}</td>
                                        <td class="text-center">{{this.numberOfIpsAllowed}}</td>
                                        <td class="text-center">{{this.totalClicksAllowed}}</td>
                                        <td class="text-center">{{this.totalClicksMade}}</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                    
                                </table>



                            </div>
                        </div>



                    </div>
                <script>
                    $(document).ready(function () {
                        $('#activityTable').DataTable({
                            pageLength: 10, // Show 5 entries per page
                            lengthMenu: [5, 10, 25, 50],
                             ordering: false,  //  disables sorting and removes up/down arrows
                            order: [[0, 'desc']], // Sort by timestamp descending
                        });
                    });
                </script>


